In [1]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline 
from sklearn import preprocessing

In [8]:
data= pd.read_csv('GWS_data_p.csv')

In [9]:
# Showing the first five rows of train data set 
data.head()

,Type_of_well,Well_Depth,Lattitude,Longitude,pH,pH (Interpolation),Eh,Eh (Regression),Eh (Interpolation),Cond,...,Si,SiO2,Sr,Zn,Cd,Cr,Cu,Mo,Ni,Pb
0,Shallow,24.242424,23.517444,90.864167,6.72,NaN,-96.0,NaN,NaN,1416.0,...,12.5134,26.769917,0.245421,49.1848,0.0,13.6364,3.7270,0.0,3.4724,0.0000
1,Deep,181.818182,23.543861,90.839027,6.74,NaN,-33.0,NaN,NaN,465.0,...,26.2947,56.252252,0.160439,79.1081,0.0,0.0000,4.2555,0.0,2.7421,0.0000
2,Deep,242.424242,23.528250,90.829556,6.73,NaN,-19.0,NaN,NaN,496.0,...,29.2443,62.562331,0.221085,51.7614,0.0,0.0000,3.3989,0.0,0.0000,0.0000
3,Deep,303.030303,23.525610,90.845861,6.72,NaN,-25.0,NaN,NaN,761.0,...,23.5847,50.454749,0.376509,43.7514,0.0,1.2759,154.3860,0.0,0.0000,4.3982
4,Shallow,84.848485,23.543278,90.786805,6.72,NaN,17.0,NaN,NaN,1261.0,...,14.1276,30.223175,0.676160,69.2219,0.0,1.7589,3.1335,0.0,6.0100,0.0000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 43 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Type_of_well        160 non-null    object
 1   Well_Depth          160 non-null    float64
 2   Lattitude           160 non-null    float64
 3   Longitude           160 non-null    float64
 4   pH                  156 non-null    float64
 5   pH (Interpolation)  4 non-null      float64
 6   Eh                  125 non-null    float64
 7   Eh (Regression)     35 non-null     float64
 8   Eh (Interpolation)  35 non-null     float64
 9   Cond                160 non-null    float64
 10  Temp                160 non-null    float64
 11  DO                  125 non-null    float64
 12  DOC                 160 non-null    float64
 13  HCO3                160 non-null    float64
 14  Cl                  160 non-null    float64
 15  NO3                 160 non-null    float64
 16  SO4                 160 non-null    float64
 17  PO4                 160 non-null    float64
 18  NH4                 160 non-null    float64
 19  Al                  160 non-null    float64
 20  As                  160 non-null    float64
 21  B                   77 non-null     float64
 22  B (Regression)      83 non-null     float64
 23  B (Interpolation)   83 non-null     float64
 24  Ba                  160 non-null    float64
 25  Ca                  160 non-null    float64
 26  Fe                  160 non-null    float64
 27  K                   160 non-null    float64
 28  Mg                  160 non-null    float64
 29  Mn                  160 non-null    float64
 30  Na                  160 non-null    float64
 31  P                   160 non-null    float64
 32  S                   160 non-null    float64
 33  Si                  160 non-null    float64
 34  SiO2                160 non-null    float64
 35  Sr                  160 non-null    float64
 36  Zn                  160 non-null    float64
 37  Cd                  160 non-null    float64
 38  Cr                  160 non-null    float64
 39  Cu                  160 non-null    float64
 40  Mo                  160 non-null    float64
 41  Ni                  160 non-null    float64
 42  Pb                  160 non-null    float64
dtypes: float64(42), object(1)
memory usage: 53.9+ KB

In [11]:
data.isnull().sum()

Type_of_well            0
Well_Depth              0
Lattitude               0
Longitude               0
pH                      4
pH (Interpolation)    156
Eh                     35
Eh (Regression)       125
Eh (Interpolation)    125
Cond                    0
Temp                    0
DO                     35
DOC                     0
HCO3                    0
Cl                      0
NO3                     0
SO4                     0
PO4                     0
NH4                     0
Al                      0
As                      0
B                      83
B (Regression)         77
B (Interpolation)      77
Ba                      0
Ca                      0
Fe                      0
K                       0
Mg                      0
Mn                      0
Na                      0
P                       0
S                       0
Si                      0
SiO2                    0
Sr                      0
Zn                      0
Cd                      0
Cr                      0
Cu                      0
Mo                      0
Ni                      0
Pb                      0
dtype: int64

In [12]:

from sklearn.impute import SimpleImputer
data= data.iloc[:,:-1].values
data

array([['Shallow', 24.24242424, 23.517444, ..., 3.727, 0.0, 3.4724],
       ['Deep', 181.8181818, 23.543861, ..., 4.2555, 0.0, 2.7421],
       ['Deep', 242.4242424, 23.52825, ..., 3.3989, 0.0, 0.0],
       ...,
       ['Deep', 181.8181818, 23.46641, ..., 4.85229, 0.0, 0.0],
       ['Deep', 303.030303, 23.40411, ..., 6.36117, 0.0, 4.486605],
       ['Shallow', 24.24242424, 23.38428, ..., 4.90032, 0.0, 3.11269]],
      dtype=object)

In [13]:
imputer = SimpleImputer(missing_values = np.nan,  
                        strategy ='mean') 

imputer = imputer.fit(data[1:,1:43])
data[1:,1:43] = imputer.transform(data[1:,1:43])
print(data)

[['Shallow' 24.24242424 23.517444 ... 3.727 0.0 3.4724]
 ['Deep' 181.8181818 23.543861 ... 4.2555 0.0 2.7421]
 ['Deep' 242.4242424 23.52825 ... 3.3989 0.0 0.0]
 ...
 ['Deep' 181.8181818 23.46641 ... 4.85229 0.0 0.0]
 ['Deep' 303.030303 23.40411 ... 6.36117 0.0 4.486605]
 ['Shallow' 24.24242424 23.38428 ... 4.90032 0.0 3.11269]]

In [14]:
y=pd.DataFrame(data)
y

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,Shallow,24.242424,23.517444,90.864167,6.72,NaN,-96.0,NaN,NaN,1416.0,...,0.714188,12.5134,26.769917,0.245421,49.1848,0.0,13.6364,3.727,0.0,3.4724
1,Deep,181.818182,23.543861,90.839027,6.74,6.568964,-33.0,-6.915089,0.0,465.0,...,0.215477,26.2947,56.252252,0.160439,79.1081,0.0,0.0,4.2555,0.0,2.7421
2,Deep,242.424242,23.52825,90.829556,6.73,6.568964,-19.0,-6.915089,0.0,496.0,...,0.73666,29.2443,62.562331,0.221085,51.7614,0.0,0.0,3.3989,0.0,0.0
3,Deep,303.030303,23.52561,90.845861,6.72,6.568964,-25.0,-6.915089,0.0,761.0,...,5.17371,23.5847,50.454749,0.376509,43.7514,0.0,1.2759,154.386,0.0,0.0
4,Shallow,84.848485,23.543278,90.786805,6.72,6.568964,17.0,-6.915089,0.0,1261.0,...,0.540185,14.1276,30.223175,0.67616,69.2219,0.0,1.7589,3.1335,0.0,6.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,Shallow,60.606061,23.40752,91.22819,6.7,6.568964,14.3,-6.915089,0.0,205.0,...,0.162012,26.7523,57.231195,0.094098,9.1297,0.0,1.113845,0.453914,0.0,0.0
156,Shallow,106.060606,23.45752,91.20561,6.62,6.568964,17.9,-6.915089,0.0,250.0,...,0.018,26.7839,57.298797,0.130796,15.95575,0.0,0.666507,1.99891,0.0,0.0
157,Deep,181.818182,23.46641,91.221,6.6,6.568964,24.8,-6.915089,0.0,194.4,...,0.479821,33.3992,71.450909,0.129186,526.957,0.0,0.939129,4.85229,0.0,0.0
158,Deep,303.030303,23.40411,91.17146,6.83,6.568964,21.2,-6.915089,0.0,165.8,...,2.075155,31.5629,67.522512,0.095207,116.7955,0.0,2.63501,6.36117,0.0,4.486605
159,Shallow,24.242424,23.38428,91.15897,6.53,6.568964,26.8,-6.915089,0.0,189.5,...,1.131,24.018,51.381707,0.10292,116.2655,0.0,1.35031,4.90032,0.0,3.11269

In [9]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 42 columns):
0     160 non-null object
1     160 non-null object
2     160 non-null object
3     160 non-null object
4     160 non-null object
5     159 non-null object
6     160 non-null object
7     159 non-null object
8     159 non-null object
9     160 non-null object
10    160 non-null object
11    160 non-null object
12    160 non-null object
13    160 non-null object
14    160 non-null object
15    160 non-null object
16    160 non-null object
17    160 non-null object
18    160 non-null object
19    160 non-null object
20    160 non-null object
21    160 non-null object
22    159 non-null object
23    159 non-null object
24    160 non-null object
25    160 non-null object
26    160 non-null object
27    160 non-null object
28    160 non-null object
29    160 non-null object
30    160 non-null object
31    160 non-null object
32    160 non-null object
33    160 non-null object
34    160 non-null object
35    160 non-null object
36    160 non-null object
37    160 non-null object
38    160 non-null object
39    160 non-null object
40    160 non-null object
41    160 non-null object
dtypes: object(42)
memory usage: 52.6+ KB

In [15]:
y.to_csv('GWS_data_p_modified.csv')